@using Shop.Data.Models
@model IEnumerable<Drink>

<div>
    <h2>All Drinks goes here.</h2>
</div>

@{
    foreach (var drink in Model)
    {
        <div>
            <h4>Drink Name: @drink.Name</h4>
            <p>Price: @drink.Price.ToString("c")</p>
        </div>
    }
}